# Gemini API Key
GEMINI_API_KEY=

# Stripe API Key
STRIPE_SECRET_KEY=
STRIPE_PRICE_BEGINNER_ID=
STRIPE_PRICE_PRO_ID=

# Application URL
APP_URL=
VITE_API_URL=https://envisionpaths-36560900479.us-west1.run.app
