# .env.example
GEMINI_API_KEY=
STRIPE_SECRET_KEY=
APP_URL=https://ais-dev-6utkq3firo3gcyhy4gmmv6-29479208280.us-west2.run.app

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
