.App {
  background: linear-gradient(90deg, rgba(220, 38, 38, 1), rgba(200, 25, 25, 1));
}

.welcome-heading {
  background: linear-gradient(90deg, rgba(220, 38, 38, 1), rgba(255, 99, 71, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.some-class {
  color: rgba(220, 38, 38, 1);
}

.another-class {
  border-color: rgba(220, 38, 38, 1);
}
